<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Consulta Cotizaciónes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/showquotes.css">
</head>
<body>

<div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="logo">
                    <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
                </div>
                <br>
                <div class="left-navigation">
                    <ul class="list">
                        <h5><strong>Bienes y Servicios</strong></h5>
                        <li>Consultar Solicitudes</li>
                    <br>

                    <ul class="list">
                        <h5><strong>CONFIGURACIONES</strong></h5>
                        <li id="btnSalir">Salir</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content">
            <div class="container">
              <br>
              <br>
              <br>
  <div class="row">
    
        
        <div class="col-md-12">
        <h4>Solicitudes de Cotización</h4>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <th>ID Cotización</th>
                    <th>Nombre Cotización</th>
                     <th>Descripción</th>
                     <th>Nombre Cliente</th>
                     <th>Email Cliente</th>
                      <th>Enviar Oferta</th>
                   </thead>
    <tbody id="tableQuote">

    </tbody>
        
</table>

<div class="clearfix"></div>
                
            </div>
            
        </div>
  </div>
</div>
        </div>
    </div>

<div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offer" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Ingrese su oferta</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input id="price" class="form-control" type="text" placeholder="Precio">
        </div>
        <div class="form-group">
          <textarea id="offerDescription" rows="2" class="form-control" placeholder="Descripción de la oferta"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" id="btnTender" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Ofertar</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>

<script type="text/javascript" src="../js/showquotes.js"></script>
</body>
</html>